<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="edu.uoregon" android:versionCode="1" android:versionName="1.0">

	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:theme="@android:style/Theme.NoTitleBar" android:debuggable="true">
		<uses-library android:name="com.google.android.maps" />
		<activity android:name=".Main" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".MapTabView" android:label="@string/maptabstring">
			<intent-filter>
				<category android:name="android.intent.category.EMBED"></category>
				<action android:name="android.intent.action.MAIN"></action>
			</intent-filter>
		</activity>
		<activity android:label="@string/recordtabstring"
			android:name=".RecordTabView">
			<intent-filter>
				<category android:name="android.intent.category.EMBED"></category>
				<action android:name="android.intent.action.MAIN"></action>
			</intent-filter>
		</activity>
		<activity android:label="@string/helptabview" android:name=".HelpTabView">
			<intent-filter>
				<category android:name="android.intent.category.EMBED"></category>
				<action android:name="android.intent.action.MAIN"></action>
			</intent-filter>
		</activity>
		<activity android:label="@string/settingtabview" android:name=".SettingTabView">
			<intent-filter>
				<category android:name="android.intent.category.EMBED"></category>
				<action android:name="android.intent.action.MAIN"></action>
			</intent-filter>
		</activity>
		<activity android:name=".RecordAudioView"></activity>
		<activity android:name=".TakePictureView" android:screenOrientation="landscape">
			<uses-feature android:name="android.hardware.camera" />
			<uses-feature android:name="android.hardware.camera.autofocus" />
		</activity>
	</application>
	<uses-sdk android:minSdkVersion="4" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.CAMERA" />
</manifest> 